

#element-titulo {
  color:blue;
  background:#c29b61;
  font-family:arial;
}

.boton {
  color:black;
  background: yellow;
}

.caja {
  background:#c29b61;
}

.box-Comentar{
  height: 25px;
  width: 100px;
}

.cuerpo{
  background: blue;
}

h2{
  background: #c29b61;
  font-family: arial,cursive;
}

p{
  background: #c29b61;
  font-family: arial;
}

#cara{
  background: white;
}

.foto{
  height: 250px;
  width: 250px;
}

#element-para-foto{
  color: black;
  background: white;
}

.boton:hover{
  background: red;
  color: white;
}

a:hover {
  color:red;
}

.form-user{
  color:white;
  font-family: arial;
}

.section-1,.section-2{
  text-align: center;
  border-style:groove;
  /*display:inline-flex;*/
  width: 70vw;
  margin:2px;
}


.costado{
  margin: 1px;
  border-style: groove;
  /*display: inline;*/
  width: 28vw;
}

.divcontenedor{
  display: inline-flex;
}

a{
  color: #efb810;
}

ul{
  display: inline-flex;
  padding: 5px;
  margin: 0;
}


nav{
  text-align: center;
}

footer{
  text-align: center;
}

.iconos{
  width: 25px;
  height: 25px;
  background: blue;
  box-shadow: 1px,1px,1px,groove,white;
}

#diferente{
  color: red;
}

#diferente:hover{
  color: black;
}
