

#element-titulo {
  color:yellow;
  background:blue;
  font-family:arial;
}

.boton {
  color:black;
  background: yellow;
}

.caja {
  background:yellow;
}

.box-Comentar{
  height: 25px;
  width: 100px;
}

.cuerpo{
  background: black;
}

h2{
  background: yellow;
  font-family: arial,cursive;
}

p{
  background: yellow;
  font-family: arial;
}

#cara{
  background: white;
}

.foto{
  height: 250px;
  width: 250px;
}

#element-para-foto{
  color: black;
  background: white;
}

.boton:hover{
  background: blue;
  color: white;
}

a:hover {
  color:red;
}

.form-user{
  color:white;
  font-family: arial;
}
